@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dancingscript/v19/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup5.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u-w4BMUTPHjxsIPx-oPCc.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHh30AXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poiretone/v9/UqyVK80NJXN4zfRgbdfbo55cUg.ttf) format('truetype');
}
img {
  border: 0;
  max-width: 100%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: #ffffff;
}
h1 {
  font-family: 'Dancing Script', cursive;
  color: #1E88E5;
  font-size: 2.5em;
  text-align: center;
  transition: all 0.45s;
}
h1:hover {
  color: #4DD0E1;
}
h2,
h3 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: #1E88E5;
}
h3 a {
  color: inherit;
}
#SlideMiddle {
  display: block;
  background: #eeeeee;
  width: 100%;
  min-height: 100%;
}
#SlideMiddle #nav {
  display: flex;
  height: 71px;
  width: 100%;
  margin: 0 auto;
}
#SlideMiddle #nav #nav-bar {
  display: table;
  width: 100%;
  height: 100%;
}
#SlideMiddle #nav #fluid-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  background: url('https://dl.dropboxusercontent.com/u/76642452/CodePen/nav-background.png') repeat-x;
}
#SlideMiddle #nav #fix-content {
  display: table-cell;
  width: 960px;
  height: 100%;
  max-width: 960px;
  min-width: 960px;
}
#SlideMiddle #nav #nav-bar-filters {
  display: flex;
  width: 100%;
  height: 100%;
}
#SlideMiddle #nav #nav-bar-filters .filter-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  height: 100%;
  color: #a2a2a2;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  background: url('https://dl.dropboxusercontent.com/u/76642452/CodePen/nav-background.png') repeat-x;
}
#SlideMiddle #nav #nav-bar-filters .filter-item:hover {
  color: #868686;
}
#SlideMiddle #nav #nav-bar-filters .filter-item.active {
  color: #868686;
  background: none;
}
#SlideMiddle #nav #nav-bar-filters .filter-item.active:before {
  content: ' ';
  background: url('https://dl.dropboxusercontent.com/u/76642452/CodePen/left-end.png') no-repeat;
  display: block;
  height: 100%;
  position: absolute;
  width: 15px;
  top: 0px;
  left: -8px;
}
#SlideMiddle #nav #nav-bar-filters .filter-item.active:after {
  content: ' ';
  background: url('https://dl.dropboxusercontent.com/u/76642452/CodePen/right-end.png') no-repeat;
  display: block;
  height: 100%;
  width: 15px;
  position: absolute;
  top: 0;
  right: -8px;
}
#SlideMiddle #nav #fluid-right {
  display: table-cell;
  width: 50%;
  height: 100%;
  background: url('https://dl.dropboxusercontent.com/u/76642452/CodePen/nav-background.png') repeat-x;
}
#SlideMiddle #grid {
  margin: 40px auto;
  width: 960px;
  padding-left: 15px;
  box-sizing: border-box;
}
@media screen and (min-width: 1315px) {
  #SlideMiddle #grid {
    width: 1275px;
  }
}
@media screen and (min-width: 1630px) {
  #SlideMiddle #grid {
    width: 1590px;
  }
}
@media screen and (min-width: 1945px) {
  #SlideMiddle #grid {
    width: 1905px;
  }
}
@media screen and (min-width: 2260px) {
  #SlideMiddle #grid {
    width: 2220px;
  }
}
@media screen and (min-width: 2575px) {
  #SlideMiddle #grid {
    width: 2535px;
  }
}
#SlideMiddle #grid-content {
  position: relative;
}
#SlideMiddle #grid-content .grid-item {
  margin-bottom: 15px;
  background: #F66;
  width: 300px;
}
#SlideMiddle #grid-content .grid-item__id {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#SlideMiddle #grid-content .grid-item__id span {
  color: #333;
  font-size: 6em;
}
